@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --default-transition-duration: 300ms;

  /* customized primary colors */
  --color-pink-50: #fcedf0;
  --color-pink-100: #fadbe0;
  --color-pink-200: #f5b2bf;
  --color-pink-300: #f289a1;
  --color-pink-400: #ef5883;
  --color-pink-500: #d63368;
  --color-pink-600: #ab2652;
  --color-pink-700: #861c3f;
  --color-pink-800: #5f112a;
  --color-pink-900: #3a0718;
  --color-pink-950: #28030e;
}

/* 主题字体 好看嘛（ */
@utility theme-font {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  @apply underline;
}

.divider {
  @apply my-4 border-t-5 border-dashed border-gray-700;
}

/* Some interesting animations!!!! */

.minecraft-splash {
  color: #fefe00;
  animation: splash 0.65s infinite ease-in-out;
}

@keyframes splash {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.rainbow-flasher {
  animation: rainbow-flash 1s infinite;
  background-clip: text;
}

@keyframes rainbow-flash {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
